{% extends "templates/base.html" %}
{% block title %}Compose{% endblock %}
{% block main %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<div class="wrapper">
  <div class="header">
    <div class="topnav">
      <a href="https://www.google.com/">About</a>
      <a href="http://localhost:80/createAccount">Create Account</a>
      <a href="http://localhost:80/login">Login</a>
      <img class="topnavimg" style="float: left" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
      <a style="float: left" href="http://localhost:80/">5 GROUP</a>
    </div>
  </div>
  <div class="title-right">
    Compose
  </div>
  <div class="card">
    <div class="compose">
    <form action="/user_send" method="POST">

      <div class="compose-group">
        <label>Recipient: </label>
        <input type="text" class="form-control" id="recipient" name="recipient" placeholder="Enter Recipient">
      </div>

    <button type="submit" class="form-btn">Send</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}
