<!DOCTYPE html>
<html>

<form action = '/send_email' method = 'POST'>
	<h1 class="title">
	{{g.user.username}}'s Profile
	</h1>
	<h2 class="subtitle">
	You are user number #{{g.user.id}}
	</h2>
	<input type = 'hidden' name = 'this_name' value = 'value1' />
	<input id = 'subject' class="input" type="subject" name="subject" placeholder="subject"> 
	<br><br>
	<input class="input" type="text" name="to" placeholder="to"> 
	<br><br>
	<input class="input" type="text" name="compose" placeholder="compose/edit"

//button
<div class="container">
        
            <p><a href="#" id="test"><button class="btn btn-default">Send</button></a>
        
</div>
<html>